#!/usr/bin/env bash
[Desktop Entry]
Version=3.3
Type=Application
Name=VUE (bin)
GenericName=Visual Understanding Environment
Comment=Visual Understanding Environment
Icon=~/.local/share/icons/vue.svg
Exec=/usr/bin/vue %f
Actions=
Categories=Office;
